@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --color-content: #a0a5a8;
  --color-title: #9b9aba;
  --color-breadcrumb: #9b9aba;
  --color-pagination: #415094;
  --color-iconPagination: #144339;
  --color-main: #876445;
  --color-border: #e8e8e8;
  --background-hover: #f6f7fb;
  --background--card-1: #f5f5ff;
  --background--card-2: #c388f6;
  --background--card-3: #d7f9ef;
  --background--card-4: #f5fdff;
  --color-hover: #b48031;
  --color-white: #fff;
  --color-body: #f6f7fb;
  --color--content-card: #67349d;
  --color--red: #8b0000;
  --color--active: #32cd32;
  --box-shadow: 0px 0px 10px rgb(140 140 140 / 32%);
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--color-body) !important;
  line-height: unset !important;
}

ol,
ul {
  padding-left: unset !important;
}

p {
  margin-bottom: unset !important;
}

h1,
h3 {
  margin-bottom: unset !important;
}

tr {
  border-bottom: 1px solid var(--color-border) !important;
}

tr:last-child {
  border-bottom: none !important;
}

.pagination-home {
  color: var(--color-hover);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.fa-solid {
  line-height: unset;
}

.contain {
  display: grid;
  grid-template-columns: 190px auto;
  grid-gap: 30px;
  height: 100%;
  transition: all 0.25s linear;
}

.contain-left {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 4.9px 0.1px rgb(4 5 5 / 15%);
  width: 100%;
  height: 100%;
  transition: all 0.25s linear;
}

.products-table__contain > tr,
.customer__items > tr,
.list-events > tr {
  height: 65px;
  font-size: 14px;
}

.contain-right {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px 0;
  margin-right: 10px;
}

.contain-right__top {
  border-bottom: 1px solid var(--color-border);
}

/* -------------------------------- SideBar --------------------------------*/
.SideBar {
  position: fixed;
  left: 0%;
  transition: all 0.25s linear;
}

.SideBar > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.SideBar > ul > a,
.SiderBar-Product__Pagination > a {
  display: flex;
  text-decoration: none;
  width: 100%;
  cursor: grab;
  text-align: left;
  transition: all 0.25s ease;
  padding: 15px 0;
  margin: auto 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-breadcrumb);
  padding-left: 20px;
  flex: 1;
  text-decoration: none;
}

.SideBar > ul > a > i,
.SiderBar-Product__Pagination > a > i {
  color: var(--color-main);
  padding-right: 30px;
  flex-shrink: 0;
  width: 20px;
  font-size: 16px;
  margin: auto 0;
}

.SiderBar-Product__Pagination > i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 10px;
  color: var(--color-main);
}

.SideBar > ul > a:nth-child(1) {
  border-bottom: 1px solid var(--color-border);
}

.SideBar > ul > a:nth-child(1):hover {
  background: unset;
}

.SiderBar-Product__Pagination > a:hover {
  color: var(--color-hover);
}

.SideBar_Title > img {
  width: 150px;
  margin: 0 20px;
  margin-bottom: 10px;
  object-fit: cover;
}

.SideBar > ul > a:hover {
  background: var(--background-hover);
  color: var(--color-hover);
}

a:hover {
  color: var(--color-hover) !important;
}

.SideBar__Customers--Active {
  background: var(--background-hover);
}

.SideBar__Customers--Active > a {
  color: var(--color-hover) !important;
}

.Product-dropList {
  margin-left: auto;
}

.menu-manager--elements {
  display: none;
  padding: 10px 35px;
  animation: dropListMenu 0.25s ease forwards;
  transition: all 0.25s linear;
}

@keyframes dropListMenu {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
  }
}

.menu-manager--elements > a {
  display: block;
  text-decoration: none;
  color: var(--color-breadcrumb);
  font-size: 14px;
  font-weight: bold;
}

.menu-manager--elements > a > i {
  color: var(--color-main);
  padding-right: 10px;
}

.SiderBar-Product__Pagination {
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}

.logout-Admin {
  margin-top: auto;
}

/* -------------------------------- Header --------------------------------*/
.header {
  display: flex;
  margin: 20px 0;
}

.header-Left {
  position: relative;
}

.header-search {
  background: #fff;
  outline: none;
  border: none;
  color: #808080;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  padding-left: 10px;
  cursor: grab;
}

.header-Left > i {
  position: absolute;
  right: 10px;
  top: 7px;
  color: var(--color-main);
  cursor: grab;
}

.header-Left > i:hover {
  color: var(--color-hover);
}

.header-right {
  margin-left: auto;
}

.header-right > ul {
  display: flex;
}

.header-right > ul > li {
  margin: auto 0;
  position: relative;
}

.header-right > ul > li > i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;
  color: var(--color-main);
  border: 1px solid var(--color-border);
  padding: 5px 5px;
  border-radius: 50%;
  transition: all 0.25s ease;
  cursor: grab;
}

.header-right > ul > li:nth-child(2) {
  font-size: 15px;
}

.header-right > ul > li > i::after {
  content: "";
}

.header-right > ul > li > i:hover {
  color: var(--color-hover);
}

.infor-login {
  display: flex;
}

.amount-notify {
  position: absolute;
  top: -9px;
  right: -10px;
  background: var(--color-main);
  color: var(--color-white);
  width: 20px;
  height: 20px;
  line-height: 19px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
}

.infor-login {
  margin: 0 15px;
  cursor: default;
}

.infor-login > img {
  width: 35px;
  height: 35px;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  margin: auto 0;
}

.infor-login_content {
  padding-left: 10px;
  margin: auto 0;
}

.infor-login_content > p {
  color: var(--color-pagination);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: unset;
}

.notify {
  position: relative;
}

.notify-bills {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  right: 15px;
  top: 36px;
  overflow-y: auto;
  z-index: 99;
}

.notify-bills__item:nth-child(1) {
  margin-top: 20px;
}

.notify-bills__item {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  text-decoration: none;
  grid-gap: 0 10px;
  margin: 10px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 10px;
}

.notify-bills__item:last-child {
  border-bottom: none;
}

.notify-bills__item > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.notify-bills__item--content > p:nth-child(1) {
  font-size: 18px;
  color: #000;
}

.notify-bills__item--content > p:nth-child(2) {
  font-size: 15px;
  color: var(--color-content);
}

.notify-close.notify-close.notify-close {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: var(--color-main) !important;
  font-size: 22px !important;
  cursor: grab;
}

.notify-close.notify-close.notify-close.notify-close:hover {
  color: var(--color-hover) !important;
  background-color: unset !important;
}

.notify-bills__status {
  line-height: 20px;
  color: var(--color--red);
}

.notify-bills__title {
  color: var(--color-main);
  padding-left: 10px;
  border-bottom: 1px solid var(--color-main);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}

/* -------------------------------- Breadcrumb --------------------------------*/
.breadcrumb {
  display: flex;
  justify-content: space-between;
}

.breadcrumb > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: default;
}

.breadcrumb-pagination > h1 {
  color: var(--color-main);
}

.breadcrumb-pagination > span {
  color: var(--color-breadcrumb);
  font-size: 16px;
  cursor: grab;
  font-weight: bold;
}

.breadcrumb-pagination > span:nth-child(2) {
  padding-left: 10px;
}

.breadcrumb-pagination > span:nth-child(3) {
  padding: 0 5px;
}

.breadcrumb-datenow > i {
  color: var(--color-main);
  margin: auto 0;
}

.breadcrumb-datenow > p {
  font-weight: bold;
  color: var(--color-breadcrumb);
  padding-left: 10px;
  font-size: 14px;
}

/* -------------------------------- Home --------------------------------*/
.home {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-gap: 30px;
}

.row-1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.row-1__right {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 125px 125px 1fr;
  grid-gap: 20px;
}

.row-1__left {
  background: var(--color-white);
  border-radius: 10px;
  width: 100%;
}

.canvas {
  max-height: 480px !important;
  max-width: 1023px !important;
  padding: 30px;
}

.row-1__left > .container > h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  color: var(--color-title);
  cursor: default;
  letter-spacing: 2px;
}

.row-1__right > div {
  background: var(--color-white);
  width: 275px;
  height: 125px;
  border-radius: 10px;
}

.row-1__right > div > div {
  display: flex;
  justify-content: space-between;
  background: var(--color-main);
  border-radius: 10px 10px 0 0px;
  height: 33px;
  color: var(--color-white);
}

.row-1__right > div > div > i {
  padding: 8px;
}

.row-1__right > div > h3 {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-content);
}

.row-1__right > div > p {
  color: var(--color-content);
  font-size: 15px;
  padding: 0px 20px;
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.row-2 > div {
  background: var(--color-white);
  border-radius: 10px;
  height: 300px;
}

.row-2 > div > h1,
.card__sales > div > h1 {
  color: #767676;
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 30px;
}

.card-items {
  height: 225px;
  overflow-y: auto;
  padding: 0 30px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f3f5f6;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
  cursor: default;
  color: var(--color-content);
}

.card__user--item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.card-item--name {
  font-size: 14px;
}

.card-item > i {
  cursor: grab;
  transition: all 0.25s linear;
}

.card-item > i:hover {
  color: var(--background--card-2);
}

.card__sales--items {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  padding: 30px;
}

.card__sales__item {
  display: flex;
  align-items: center;
  cursor: default;
}

.card__sales__item > i {
  width: 40px;
  height: 40px;
  padding: 15px;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  line-height: 10px;
}

.card__sales__item > div > p {
  font-size: 14px;
  color: var(--color-content);
  padding-top: 3px;
}

.card__sales__item:nth-child(1) > i {
  background: #eee5ff;
}

.card__sales__item:nth-child(2) > i {
  background: #c9f7f5;
}

.card__sales__item:nth-child(3) > i {
  background: #ffe2e5;
}

.card__sales__item:nth-child(4) > i {
  background: #20deff;
}

.card__sales--title {
  display: flex;
  justify-content: space-between;
}

.card-product--sellest {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  width: unset !important;
  height: 235px !important;
  cursor: default;
}

.card-product__selles--items {
  flex-direction: column;
  background: unset !important;
  height: unset !important;
  overflow: hidden;
}

.card-product__selles--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-top: 20px;
  border-radius: 5px;
  height: 40px;
  color: var(--color-content);
  background: #f3f5f6;
}

.card-product__selles--item > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.card-product__selles--item > p:nth-last-child(2) {
  font-weight: bold;
  font-size: 14px;
  color: #767676;
}

.card-product__selles--item > p:nth-last-child(1) {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
}

.card-product__sellest--title {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--color-white);
}

.card__user--item-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 50%;
}

.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.row-3 > div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: var(--color-white);
  border-radius: 10px;
}

.card-top--title {
  font-size: 16px;
  font-weight: bold;
  color: #767676;
}

.Card-customer__Loyal > div,
.card-customer__item--content {
  background: #f3f5f6;
  margin: 10px 0;
  border-radius: 10px;
  height: 44px;
  color: var(--color-content);
  cursor: default;
}

.card-customer__item--content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  align-items: center;
}

.card-customer__item--content > img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.card-customer__item--content p:last-child {
  font-weight: bold;
  color: var(--color--content-card);
}

.card-customer__ranks {
  grid-template-columns: 1fr 1fr 1fr;
}

.customer__item--image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  object: cover;
}

table {
  margin: 0 auto;
  cursor: default;
}

/* table>thead>tr>th
{
    padding: 10px 0;
    color: rgb(83, 80, 80);
    width: 70px;
    border-bottom: 1px solid var(--color-border);
} */
/* table,th,td
{
    cursor: default;
    text-align: center;
    padding: 10px 0;
    vertical-align: middle;
}
table, th, td >p 
{
    color: var(--color-content);
}
td >p 
{
    font-size: 15px;
}
.card-top-product__sellest--item>tr */
/* {
    border-bottom: 1px solid var(--color-border);
} */
.card-top-product__sellest--item > tr:last-child {
  border: none;
}

.product__sellest--image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.card-top-product__sellest--item > tr > td > p {
  line-height: 6px;
}

.card__sales__item--content {
  margin-left: 5px;
}

.card__sales__item--content > h3 {
  font-size: 18px;
  color: var(--background--card-2);
  font-weight: bold;
}

/* -------------------------------- Customer --------------------------------*/
.customer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 70px);
}

.customer--container {
  padding: 20px;
}

.customer__title {
  display: flex;
  justify-content: space-between;
}

.customer__title > h1 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-main);
}

.customer__search {
  position: relative;
  width: 300px;
  height: 40px;
}

.customer__search--content {
  position: absolute;
  width: 100%;
  left: 0%;
  right: 0;
  outline: none;
  border: 1px solid var(--color-border);
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.25s ease;
  padding-left: 10px;
}

.customer__search--content:focus {
  border-color: var(--color-hover);
}

.customer__search--action {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-title);
  cursor: grab;
  transition: all 0.25s ease;
}

.customer__search--action:hover {
  color: var(--color-hover);
}

.customer__table {
  margin: 20px 0;
}

.customer__table > table {
  margin: 0 auto;
}

.card-customer__item--action {
  position: relative;
}

.card-customer__item--action > i {
  cursor: grab;
  margin-right: 3px;
  color: var(--color-main);
  transition: all 0.25s ease;
  font-size: 15px;

  text-align: center;
  margin: 0 5px;
}

.card-customer__item--action > i:hover {
  background: var(--color-hover) !important;
  color: var(--color-white);
  padding: 5px;
  border-radius: 5px;
}

.card-customer__edit {
  width: unset !important;
  height: unset !important;
  background: unset !important;
  border: unset !important;
}

.customer__item--ranks {
  color: var(--color-hover);
  font-weight: bold;
}

.customer__item--roles {
  color: var(--color--red);
  font-weight: bold;
}

.customer__pagination {
  display: flex;
  justify-content: space-between;
}

.customer__pagination > p {
  color: var(--color-content);
}

.customer__pagination-contain {
  display: flex;
  align-items: center;
}

.customer__pagination-contain > i {
  margin: 0 10px;
  cursor: grab;
  color: var(--color-main);
  transition: all 0.25s ease;
}

.customer__pagination-contain > i:hover {
  color: var(--color-hover);
}

.customer__pagination--item-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background: var(--color-main);
  cursor: default;
  border-radius: 5px;
  color: var(--color-white);
  border: 1px;
  pointer-events: none;
  user-select: none;
  text-align: center;
}

.customer__table--thead > th {
  width: auto;
  padding: 10px 15px;
  font-size: 14px;
}

th {
  font-size: 14px;
}

.customer-edit__background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0%;
  right: 0;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  z-index: 99;
}

#cbCheckLabel:checked ~ .customer-edit__background {
  display: block;
}

#cbCheckLabel:checked ~ .customer-edit {
  display: block;
}

#cbCheckLabel:checked ~ .products-create__combo {
  display: block;
}

.customer-edit {
  display: none;
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  height: auto;
  width: 700px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.customer-edit__Container {
  margin: 20px;
}

.customer-edit__title {
  display: flex;
  justify-content: space-between;
  color: var(--color-title);
  cursor: default;
}

.customer-edit__title > h1 {
  font-weight: bold;
  font-size: 18px;
}

.customer-edit__title > i {
  font-size: 20px;
  cursor: grab;
  transition: all 0.25s ease;
}

.customer-edit__title > i:hover {
  color: var(--color-hover);
}

.customer-edit__left {
  display: flex;
  margin: 15px 0;
}

.customer-edit__left-image {
  height: 80px;
  width: 80px;
  position: relative;
}

#customer-edit--submit {
  height: 30px;
  width: 100px;
  outline: none;
  border: 1px solid var(--color-hover);
  background: transparent;
  color: var(--color-hover);
  border-radius: 5px;
  cursor: grab;
  margin: auto 20px;
  transition: all 0.25s ease;
}

#customer-edit--submit:hover {
  color: var(--color-white);
  background: var(--color-hover);
}

.customer-edit__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--color-content);
}

.customer-edit__action--image {
  position: absolute;
  bottom: 5px;
  right: -10px;
  padding: 5px 6px;
  cursor: grab;
  background: var(--color-content);
  color: var(--color-white);
  border-radius: 50%;
}

.customer-edit__right > div {
  margin: 15px 0;
}

.customer-edit--action-update {
  height: 30px;
  width: 130px;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-main);
  border: 1px solid var(--color-main);
  background: transparent;
  transition: all 0.25s ease;
  cursor: grab;
  margin-left: auto !important;
  border-radius: 5px;
  float: right;
}

.customer-edit--action-update:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.customer-edit--action-update > i {
  padding-right: 10px;
}

.customer__pagination--check-delete {
  position: absolute;
  z-index: 99;
  display: none;
  justify-content: space-around;
  align-items: center;
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  cursor: grab;
  color: #009900;
  font-weight: bold;
  animation: slideTop 0.25s ease forwards;
  bottom: 40px;
  right: -20px;
}

@keyframes slideTop {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

.customer__pagination--check-delete::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid var(--color-white);
  bottom: -20px;
  right: 33px;
}

.customer__pagination--check--icon {
  transition: all 0.25s ease;
  font-size: 15px;
}

.customer__pagination--check-tick {
  color: var(--color--red);
}

.customer__pagination--check-tick:hover {
  color: #e00000;
}

.customer__pagination--check--cancel:hover {
  color: #00cc00;
}

.customer__pagination--check--icon > i {
  padding-right: 3px;
}

/* -------------------------------- Products --------------------------------*/

.products__infor {
  position: absolute;
  transition: all 0.25s ease;
  left: 0;
  right: 0;
  margin: 20px;
}

.products__btn--insert {
  display: flex;
  margin-right: -10px;
}

.btn-insert {
  border: 1px solid var(--color-border);
  outline: none;
  width: 120px;
  background: var(--color-main);
  border-radius: 5px;
  color: var(--color-white);
  cursor: grab;
  transition: all 0.25s ease;
  font-weight: 12px;
  margin-right: 10px;
}

.btn-insert > i {
  padding-right: 10px;
}

.btn-insert:hover {
  background: var(--color-hover);
}

.Products-table__images {
  display: flex;
  justify-content: center;
}

.Products-table__images > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.table {
  margin: 20px 0;
}

.table > :not(:last-child) > :last-child > * {
  width: 100px;
}

.Products-table__images > img:nth-child(2) {
  margin: 0 5px;
}

.products__insert {
  margin: 0 auto;
  max-width: 620px;
  transition: all 0.25s ease;
}

.products-create__combo > div:nth-child(2) {
  margin: 20px 0;
}

.products-create__combo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 450px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 999;
  padding: 20px;
  border-radius: 10px;
}

.products-create__combo--action {
  color: var(--color-white);
  border-radius: 5px;
  outline: none;
  border: none;
  width: 150px;
  height: 30px;
  cursor: grab;
  float: right;
  line-height: 1;
  margin-top: 10px;
  background: var(--color-main);
  transition: all 0.25s ease;
}

.products-create__combo--action:hover {
  background: var(--color-hover);
}

.customer-edit__close.customer-edit__close.customer-edit__close {
  color: var(--color-title) !important;
}

.customer-edit__close.customer-edit__close.customer-edit__close.customer-edit__close:hover {
  color: var(--color-hover) !important;
  background-color: transparent !important;
}

/* --------------------------------Insert Products --------------------------------*/
.product__insert-top {
  position: absolute;
  transform: translateX(calc(-100% - 213px));
  transition: all 0.25s ease;
  width: 100%;
}

.products__insert--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 20px;
  margin-bottom: 40px;
  color: var(--color-main);
  cursor: default;
}

.products__insert--title > h1 {
  font-size: 18px;
  font-weight: bold;
}

.products__insert--title > p {
  transition: all 0.25s ease;
  cursor: grab;
}

.products__insert--title > p:hover {
  color: var(--color-hover);
}

.products__insert--title > p > i {
  padding-right: 5px;
}

.products__insert > div {
  color: var(--color-content);
}

.products__insert--images {
  display: flex;
  justify-content: space-around;
}

.products__insert--images > label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  height: 150px;
  width: 125px;
  border-radius: 5px;
  cursor: grab;
}

.products__insert--images > label > i {
  margin-right: 5px;
  position: absolute;
}

.products__insert--images > label > img {
  width: 125px;
  height: 150px;
  object-fit: cover;
  z-index: 99;
}

.products__insert--content {
  position: relative;
}

.products__insert--content > input {
  height: 40px;
  width: 100%;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
}

.products__insert--content > label {
  position: absolute;
  display: block;
  left: 15px;
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
  transition: all 0.25s ease;
  color: var(--color-content);
}

.products__insert--content > input:focus {
  border-color: var(--color-hover);
}

.products__insert--content > input:not(:placeholder-shown) + .label--input,
.products__insert--content > input:focus ~ .label--input {
  top: 0%;
  background: var(--color-white);
  padding: 0 10px;
  color: var(--color-hover);
}

.products__insert--content > select {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding-left: 10px;
  height: 40px;
  font-size: 13px;
  outline: none;
  transition: all 0.25s ease;
}

.products__insert--content > select:focus {
  border-color: var(--color-hover);
}

.products__insert--content-combo {
  display: flex;
}

.products__insert--combo {
  background: transparent;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  transition: all 0.25s ease;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-size: 14px;
  margin-left: 5px;
  cursor: grab;
}

.products__insert--combo:hover {
  color: var(--color-white);
  background: var(--color-hover);
}

.products__insert--combo > i {
  padding-right: 5px;
}

.products__insert--grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 0 20px;
}

.products__insert--grid > div {
  margin: 10px 0;
}

.products__insert--action > input {
  float: right;
  height: 40px;
  font-size: 14px;
  width: 150px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-hover);
  background: transparent;
  color: var(--color-hover);
  font-weight: 600;
  outline: none;
  cursor: grab;
  transition: all 0.25s ease;
}

.products__insert--action > input:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.products__insert--action > input > i {
  padding-right: 5px;
}

/* --------------------------------Manager Branch --------------------------------*/
.branch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.branch__items {
  background: var(--color-white);
  border-radius: 10px;
  padding: 10px;
  height: 500px;
  overflow-y: auto;
}

.branch__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branch__title > h1 {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-title);
  cursor: default;
}

.produce__search {
  position: relative;
  margin: 10px 0;
}

.produce__search--text {
  position: absolute;
  border-radius: 50%;
  outline: none;
  border: 1px solid var(--color-content);
  padding: 5px;
  width: 30px;
  height: 30px;
  transition: all 0.25s linear;
}

/* -------------------------------- Event --------------------------------*/
.event-edit {
  height: 400px;
}

.events {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 10px;
}

.events-table > th {
  width: 150px;
}

.events_search {
  position: unset;
}

.events-top {
  display: flex;
  justify-content: space-between;
}

.events-top__action {
  display: flex;
  justify-content: space-between;
}

.events-action__search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: grab;
  color: var(--color-main);
  transition: all 0.25s ease;
}

.events-action__search:hover {
  color: var(--color-hover);
}

.title {
  color: var(--color-main);
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}

.events-bottom {
  margin-top: 10px;
}

.events-image {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.form-edit--event {
  width: 700px;
}

.event-input {
  margin: 10px 0;
}

.event-edit--image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.event-edit--image > img {
  width: 150px;
  height: 130px;
  object-fit: contain;
}

.event-edit__image--icon {
  position: absolute;
}

.card__event-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

/* --------------------------------Manager Branch --------------------------------*/
.branch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.branch__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branch__title > h1 {
  font-size: 20px;
  color: var(--color-title);
  cursor: default;
}

.produce__search {
  position: relative;
  margin: 10px 0;
  transition: all 0.25s linear;
  width: 30px;
}

.produce__search--active {
  width: 100%;
}

.search--text {
  position: absolute;
  border-radius: 50%;
  outline: none;
  border: 1px solid var(--color-content);
  padding-left: 5px;
  width: 100%;
  height: 30px;
  cursor: grab;
}

.produce__search--action {
  position: absolute;
  right: 7px;
  top: calc(50% + 10px);
  transform: translateY(calc(-50% + 5px));
  cursor: grab;
  color: var(--color-content);
  transition: all 0.25s ease;
}

.produce__search--action:hover {
  color: var(--color-hover);
}

.branch__table {
  margin-top: 50px;
}

.produce-action {
  color: var(--color-main);
  cursor: grab;
  transition: all 0.25s ease;
  margin-right: 10px;
}

.produce-action:hover {
  transform: scale(1.4);
  color: var(--color-hover);
}

.branch__table > table > thead > tr > th {
  width: 120px;
}

.btn-edit {
  background-color: var(--color-main) !important;
  outline: none !important;
  border: none !important;
  float: right;
  margin-top: 10px;
}

.btn-edit:hover {
  background-color: var(--color-hover) !important;
}

.select-categories {
  font-size: 13px;
  height: 40px;
}

.form-select:focus {
  border-color: var(--color-hover) !important;
  box-shadow: unset !important;
}

/* -------------------------------- Bill --------------------------------*/
.Bill-table__thead > th {
  width: 150px !important;
}

.Bill-table__status {
  width: 100px;
  margin: 0 auto;
  padding: 3px 0;
  border-radius: 5px;
  background: var(--color--red);
  color: var(--color-white);
}

.Bill-table__status--accept {
  background: var(--color--active);
}

.check--Bill--icon.check--Bill--icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
  border-radius: 50px;
  cursor: grab;
  color: var(--color--active);
}

.check--Bill--icon.check--Bill--icon:hover {
  background: var(--color--active) !important;
  color: var(--color-white);
}

.fa-xmark.fa-xmark {
  color: var(--color--red) !important;
}

.fa-xmark.fa-xmark.fa-xmark:hover {
  color: var(--color-white) !important;
  background: var(--color--red) !important;
}

.bills__detail {
  max-width: unset;
  margin-top: 20px;
}

.Bill-table__thead--detail > th {
  width: 180px !important;
}

.text-conllapse {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.agree-bill {
  color: rgb(197, 28, 28) !important;
}

.card-customer__item--action > .agree-bill:hover {
  background: rgb(197, 28, 28) !important;
  color: var(--color-white) !important;
}

.check-bill {
  color: var(--color--active) !important;
}

.card-customer__item--action > .check-bill:hover {
  background: var(--color--active) !important;
  color: var(--color-white) !important;
}

.cancel-bill {
  color: var(--color-content) !important;
}

.card-customer__item--action > .cancel-bill:hover {
  background-color: var(--color-content) !important;
  color: var(--color-white) !important;
}

.bill__container {
  display: flex;
  position: relative;
  height: 100vh;
  background: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
}

.bill__container > div {
  position: absolute;
  transition: all 0.25s linear;
  padding: 20px;
  width: 100%;
}

.detail-bills {
  transform: translateX(-120%);
}

.back-bills {
  float: right;
  margin: 20px 0;
  color: var(--color-main);
  cursor: grab;
  transition: all 0.25s ease-out;
}

.back-bills:hover {
  color: var(--color-hover);
}

.back-bills__action {
  font-size: 20px;
}

.SideBar__Pagination.active {
  background-color: var(--background-hover);
  color: var(--color-hover);
}

.arrow-slidebar {
  display: none;
  position: absolute;
  box-shadow: 0px 0px 4.9px 0.1px rgb(4 5 5 / 80%);
  border-radius: 50%;
  top: 2%;
  right: -21px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: var(--color-content);
  color: #fff;
  border: 1px solid var(--color-title);
  transition: all 0.25s linear;
}

.img_news {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.arrow-slidebar__right {
  transform: rotate(180deg);
}

.table > :not(caption) > * > * {
  border-bottom: unset !important;
  font-size: 14px;
}

.btn-status--bill {
  font-size: 13px;
  font-weight: bold;
}

.export--revenue {
  background: var(--color-hover);
  color: var(--background--card-1);
  width: 120px;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  border: unset;
}

.categories__product {
  max-width: 200px;
}

.title--history {
  text-align: center;
  padding: 10px 0;
  padding-bottom: 20px;
}

tr:hover {
  background-color: #f5f5f5; /* Change the background color on hover */
}
